@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base{
  h1{
    @apply font-sans text-white text-5xl md:text-7xl
  }
  h2{
    @apply font-sans text-white text-3xl md:text-5xl
  }
  h3{
    @apply font-sans text-white text-xl md:text-xl
  }
  h4{
    @apply font-mono text-tertiary text-base md:text-xl
  }
  h5{
    @apply font-mono text-tertiary text-xs md:text-base
  }
  p{
    @apply font-sans text-tertiary text-base
  }
}

@layer components{
  .faqborder{
    position: relative;
  }
  .faqborder::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px; 
  border: 2px solid transparent; 
  background: linear-gradient(313deg, #6843EC 17.53%, #00FF68 94.64%) border-box;
  -webkit-mask: 
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; 
          mask-composite: exclude;
  }

.teamborder{
  position: relative;
}

  .teamborder::before{
    position: absolute;
    width: 18px;
    height: 2px;
    
    /* background: #807f85; */
    background: #00FF68;
    
    content: "";
    top: 0;
    left: -5px;
    transform: rotate(-45deg);
    transform-origin: top right;
  }
  .teamborder::after{
    position: absolute;
    width: 18px;
    height: 2px;

    /* background: #807f85; */
    background: #6843EC;


    content: "";
    bottom: 0;
    right: -5px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }

  .teamborderinside::before{
    top: 0;
    left: 13px;
    position: absolute;
    width: calc(100% - 13px);
    height: 2px;

    /* background: #807f85; */
    background: linear-gradient(313deg, #6843EC 0%, #00FF68 100%);

    
    content: "";
  }
  
  .teamborderinside::after{
    bottom: 0;
    right: 13px;
    position: absolute;
    width: calc(100% - 13px);
    height: 2px;

    /* background: #807f85; */
    background: #6843EC;


    content: "";
  }

  .teamborderinsideinside::before{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 2px;
    height: calc(100% - 13px);
    
    /* background: #807f85; */
    background: linear-gradient(313deg, #6843EC 0%, #00FF68 100%);

    
    content: "";
  }  
  
  .teamborderinsideinside::after{
    top: 0;
    right: 0;
    position: absolute;
    width: 2px;
    height: calc(100% - 13px);

    /* background: #807f85; */
    background: #6843EC;

    
    content: "";
  }  

  .footerLink{
    @apply font-sans text-white text-base capitalize
  }

  .bgjumbotron{
    background-image: url('/assets/images/box_string.svg'), radial-gradient(circle closest-corner at 50% 20%, #10012c, #1a073c 20%, #150630 40%, #100721 60%, #190b36 80%, #0A090F);
    background-position: 50%, 0 0;
    background-size: auto, auto;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: #0A090F; 
}


